<body>
    <header>
        <h1>
            <span class="always-display">C</span><span>omputer&#160;</span>
            <span class="always-display">L</span><span>iterate&#160;</span>
            <span class="always-display">I</span><span>nvestigator</span><span class="space">&#160;</span><span  class="always-display" id="cursor">&#0160;
            </span>
        </h1>
    </header>
    <div id="content">
        <noscript>
            <p>
                Sorry, JavaScript is not enabled...
                <br>
                ...and you need it to view this site.
            </p>
            <img src="https://raw.githubusercontent.com/DaveyJH/ci-portfolio-three/main/assets/images/js-sad.webp" alt="Sad JavaScript face">
        </noscript>
        <main>
            <button onclick="window.location.reload()">Reboot Program</button>
            <div id="terminal"></div>
        </main>
    </div>
    <footer>
        <p>
            &#169;DaveyJH&#0160;
            <a href="https://github.com/daveyjh" target="_blank" title="GitHub"
            rel="noopener" aria-label="GitHub"><i class="fab fa-github-alt"></i></a>
        </p>
    </footer>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();

        const content = document.getElementById("content");
        const resize = document.createElement("section");
        resize.innerHTML = `
            <p>
                Sorry, this site requires a minimum screen size...
                <br>
                750 pixels
                <br>
                &#215;
                <br>
                750 pixels
            </p>
        `;
        content.insertBefore(resize, content.childNodes[1])
    </script>
</body>