<body>
    <header>
        <h1>
            <span>C</span>omputer
            <span>L</span>iterate
            <span>I</span>nvestigator<span id="cursor">&#0160;
            </span>
        </h1>
    </header>
    <main>
        <button onclick="window.location.reload()">Run Program</button>
        <div id="terminal"></div>
    </main>
    <footer>
        <p>
            &#169;DaveyJH
            <a href="https://github.com/daveyjh" target="_blank" title="GitHub"
            rel="noopener" aria-label="GitHub"><i class="fab fa-github-alt"></i></a>
        </p>
    </footer>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>